
{% extends "layout.jinja2" %}

{% block content %}

<div class="alert alert-block alert-error fade in" style="display:none;" id="alert-errors">
    <button class="close" data-dismiss="alert" type="button">×</button>
    <h4 class="alert-heading" id="alert-errors-heading"></h4>
    <p id="alert-errors-description"></p>
</div>


<ul class="nav nav-tabs">
    <li class="active">
        <a href="#" data-tab-id="priorities">My priorities</a>
    </li>
    <li>
        <a href="#" data-tab-id="sales">Sales</a>
    </li>
    <li>
        <a href="#" data-tab-id="accounts">Accounts</a>
    </li>
    <li>
        <a href="#" data-tab-id="rdu">RDU</a>
    </li>
</ul>

<div id="priorities" class="tab-content">
    {% include "priorities_form.jinja2" %}
</div>

<div id="sales" class="tab-content" style="display:none;">
Sales goes here
</div>

<div id="accounts" class="tab-content" style="display:none;">
Accounts goes here
</div>

<div id="rdu" class="tab-content" style="display:none;">
RDU goes here
</div>


{% endblock %}



