
{% extends "layout.jinja2" %}

{% block content %}

<ul class="nav nav-tabs">
    <li class="active">
        <a href="#">My priorities</a>
    </li>
    <li>
        <a href="#">Sales</a>
    </li>
    <li>
        <a href="#">Accounts</a>
    </li>
    <li>
        <a href="#">RDU</a>
    </li>
</ul>

<div class="alert alert-block alert-error fade in" style="display:none;" id="form-errors-alert">
    <button class="close" data-dismiss="alert" type="button">×</button>
    <h4 class="alert-heading">Your priorities needs some work!</h4>
    <p>
        Your form contains errors. Please check and submit again.
    </p>
</div>

<form method="POST" id="submit-form" action="{{ request.route_url('submit') }}">
    {% include "priorities_form.jinja2" %}
</form>

{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function(){
        $('#submit-form').submit(function() {
            var form = $(this);
            var url = form.attr('action');
            var params = form.serialize();

            var callback = function(response){
                console.log(response);
                form.html(response.html);
                if (!response.success){
                    $('#form-errors-alert').show();
                }
            }

            $.post(url, params, callback);
            return false;
        });
    });

    
</script>
{% endblock %}


