<form method="POST" id="submit-form" action="{{ request.route_url('submit') }}">
    {{ form.csrf_token }}

   <div>Shoutout to {{ form.shoutout }} for {{ form.shoutout_reason }}</div>
   <div>My 1 % goes to {{ form.one_pc }} for {{ form.one_pc_reason }}</div>

   <label>Lessons learned {{ form.lessons_learned }}</label>

   <label>Tasks</label>
   <ol>
        {% for task in form.tasks %}
        <li>{{ task }}</li>
        {% endfor %}
   </ol>

   {{ form.complete(class="btn") }}
   {{ form.postpone(class="btn") }}

</form>
